<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="url">grpcs://lb.etnbflkbqq52riotp620.ydb.mdb.yandexcloud.net:2135/?database=/ru-central1/b1gfvslmokutuvt2g019/etnbflkbqq52riotp620</entry>
<entry key="auth.mode">SAKEY</entry> <!-- NONE, SAKEY, META, LOGIN -->
<entry key="auth.user">username</entry>
<entry key="auth.password">password</entry>
<entry key="sakey.file">sakey.json</entry>
<entry key="pool.max">1000</entry>
<!-- <entry key="ca.file">ca.crt</entry> -->
<!-- openssl s_client -showcerts -connect ycydb-s10:2136 -->
</properties>